# Qo 01

### What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a way that allows efficient retrieval, manipulation, and management of information. It serves as a central repository for storing and accessing various types of data, such as text, numbers, images, videos, and more.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems with distinct characteristics:

SQL Databases:
1. Structure: SQL databases are based on a relational model, where data is organized into tables with predefined schemas. Tables consist of rows (records) and columns (attributes), and relationships between tables are established using keys.
2. Schema and Flexibility: SQL databases have a fixed schema, meaning the structure of the data is defined in advance. Any changes to the schema require altering the table structure. This provides a high level of data integrity and consistency.
3. Query Language: SQL databases use SQL as the standard query language for interacting with the database. SQL allows you to perform complex queries, join tables, aggregate data, and manipulate the data using various operations.
4. ACID Transactions: SQL databases typically support ACID (Atomicity, Consistency, Isolation, Durability) transactions. ACID properties ensure that database transactions are reliable, consistent, and maintain data integrity.
5. Scalability: SQL databases usually offer vertical scalability, which means increasing the capacity of a single server by adding more resources (e.g., CPU, RAM, storage) to handle increased workloads.

NoSQL Databases:
1. Structure: NoSQL databases use various data models, such as key-value, document, columnar, and graph, to store and organize data. These models provide flexibility in defining and evolving the structure of data.
2. Schema and Flexibility: NoSQL databases have a flexible schema or schemaless design. They allow storing different types of data without a predefined structure. This flexibility makes NoSQL suitable for handling unstructured, semi-structured, and rapidly changing data.
3. Query Language: NoSQL databases use different query languages specific to their data models. For example, MongoDB uses a flexible JSON-like query language, while Cassandra uses CQL (Cassandra Query Language). These query languages may be less powerful than SQL but provide efficient data retrieval and manipulation for specific use cases.
4. ACID Transactions: NoSQL databases may sacrifice ACID properties for scalability and performance. Some NoSQL databases offer eventual consistency, where data changes propagate across replicas asynchronously, which can lead to eventual synchronization.
5. Scalability: NoSQL databases are designed for horizontal scalability. They can handle massive amounts of data and high read/write loads by distributing data across multiple servers in a cluster.

In summary, SQL databases are best suited for structured data with well-defined schemas, complex queries, and a need for strong data consistency. NoSQL databases excel in handling unstructured or rapidly changing data, providing flexible schemas, and scaling horizontally to handle large-scale distributed systems. The choice between SQL and NoSQL depends on the specific requirements and characteristics of the application or use case.

# Qo 02

### What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that allows users to define and manipulate the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and constraints.

Here's an explanation of the four common DDL statements and their usage with examples:

1. CREATE:
The CREATE statement is used to create new database objects, such as tables, views, indexes, or constraints.

Example: Creating a table named "Customers" with columns for customer information.

```sql
CREATE TABLE Customers (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100)
);
```

2. DROP:
The DROP statement is used to delete existing database objects, such as tables, views, indexes, or constraints. Dropping a table removes all the associated data and the table structure itself.

Example: Dropping the "Customers" table.

```sql
DROP TABLE Customers;
```

3. ALTER:
The ALTER statement is used to modify the structure of an existing database object, such as adding or dropping columns, modifying constraints, or changing table properties.

Example: Adding a new column named "phone" to the "Customers" table.

```sql
ALTER TABLE Customers
ADD COLUMN phone VARCHAR(20);
```

4. TRUNCATE:
The TRUNCATE statement is used to remove all data from a table while keeping the table structure intact. Unlike the DROP statement, TRUNCATE retains the table structure and any associated indexes or constraints.

Example: Truncating the "Orders" table.

```sql
TRUNCATE TABLE Orders;
```

In summary, DDL statements are essential for defining and modifying the structure of a database. The CREATE statement creates new objects, the DROP statement deletes objects, the ALTER statement modifies objects, and the TRUNCATE statement removes all data from a table. These statements provide powerful tools for managing the schema and structure of a database.

# Qo 03

### What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that allows users to manipulate and interact with the data stored in a database. DML statements are used to insert, update, and delete data within database tables.

Here's an explanation of the three common DML statements and their usage with examples:

1. INSERT:
The INSERT statement is used to insert new rows of data into a table. It allows you to specify the values for each column or provide values from a query result.

Example: Inserting a new record into the "Customers" table.

```sql
INSERT INTO Customers (customer_id, first_name, last_name, email)
VALUES (1, 'John', 'Doe', 'johndoe@example.com');
```

2. UPDATE:
The UPDATE statement is used to modify existing data in a table. It allows you to update specific columns or values based on specified conditions.

Example: Updating the email address of a customer with a specific customer_id.

```sql
UPDATE Customers
SET email = 'newemail@example.com'
WHERE customer_id = 1;
```

3. DELETE:
The DELETE statement is used to remove rows of data from a table. It allows you to delete specific rows based on specified conditions.

Example: Deleting a customer record with a specific customer_id.

```sql
DELETE FROM Customers
WHERE customer_id = 1;
```

In summary, DML statements provide the means to manipulate and modify the data stored in database tables. The INSERT statement adds new data, the UPDATE statement modifies existing data, and the DELETE statement removes data from tables. These statements are essential for managing and manipulating data within a database.

# Qo 04

### What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that allows users to retrieve and query data from a database. DQL statements, primarily the SELECT statement, are used to fetch data from one or more tables in a database.

Here's an explanation of the SELECT statement and an example:

SELECT:
The SELECT statement is used to retrieve data from a database table or tables. It allows you to specify the columns you want to retrieve, apply filtering conditions, sort the result set, and perform various other operations on the data.

Example: Selecting customer information from the "Customers" table.

```sql
SELECT customer_id, first_name, last_name, email
FROM Customers;
```

In the example above, the SELECT statement retrieves data from the "Customers" table. It specifies the columns (`customer_id`, `first_name`, `last_name`, and `email`) that should be included in the result set. The `FROM` clause specifies the table from which the data is retrieved.

You can also apply filtering conditions to retrieve specific data based on certain criteria. For example, to retrieve customers with a specific last name:

```sql
SELECT customer_id, first_name, last_name, email
FROM Customers
WHERE last_name = 'Doe';
```

The `WHERE` clause is used to specify the filtering condition (`last_name = 'Doe'`) to retrieve customers with the last name 'Doe'.

The SELECT statement can be enhanced with additional clauses such as:

- ORDER BY: Sorts the result set based on one or more columns.
- GROUP BY: Groups the result set based on one or more columns.
- HAVING: Applies a condition to the grouped result set.
- JOIN: Retrieves data from multiple tables based on specified relationships.

Here's an example combining some of these clauses:

```sql
SELECT customer_id, first_name, last_name, COUNT(*) as order_count
FROM Customers
JOIN Orders ON Customers.customer_id = Orders.customer_id
WHERE Orders.order_date >= '2023-01-01'
GROUP BY customer_id, first_name, last_name
HAVING order_count > 5
ORDER BY order_count DESC;
```

In this example, the SELECT statement retrieves customer information from the "Customers" table and joins it with the "Orders" table. It counts the number of orders for each customer (`COUNT(*) as order_count`), filters for orders placed after January 1, 2023, groups the result by customer, and retrieves only customers with more than 5 orders. The result set is then sorted in descending order based on the order count.

In summary, the SELECT statement is used in DQL to fetch and retrieve data from one or more tables in a database. It provides various capabilities for specifying columns, applying filters, sorting results, and performing other operations to retrieve the desired data.

# Qo 05

### Explain Primary Key and Foreign Key.

In SQL, both primary keys and foreign keys are used to establish relationships between tables in a relational database. They ensure data integrity and enforce referential integrity by defining relationships and constraints.

1. Primary Key:
A primary key is a column or a set of columns in a table that uniquely identifies each row in that table. It must have the following characteristics:
- Uniqueness: Each value in the primary key column(s) must be unique, ensuring that no two rows in the table have the same primary key value.
- Non-nullability: The primary key column(s) cannot contain NULL values, ensuring that every row has a unique identifier.
- Irreducibility: The primary key must consist of the minimum number of columns required to uniquely identify a row.

Example: Consider a table named "Employees" with an "employee_id" column as the primary key.

```sql
CREATE TABLE Employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
);
```

In this example, the "employee_id" column is the primary key, and it uniquely identifies each employee in the "Employees" table.

2. Foreign Key:
A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between the two tables by enforcing referential integrity.
- The foreign key column(s) in the referencing table (child table) hold values that correspond to the values in the primary key column(s) of the referenced table (parent table).
- It ensures that data in the referencing table remains consistent and accurate by enforcing constraints on the values that can be inserted into the foreign key column(s).

Example: Consider a table named "Orders" with an "employee_id" column as a foreign key that references the primary key "employee_id" in the "Employees" table.

```sql
CREATE TABLE Orders (
    order_id INT PRIMARY KEY,
    order_date DATE,
    employee_id INT,
    FOREIGN KEY (employee_id) REFERENCES Employees(employee_id)
);
```

In this example, the "employee_id" column in the "Orders" table is a foreign key that establishes a relationship with the primary key "employee_id" in the "Employees" table. It ensures that any value inserted into the "employee_id" column of the "Orders" table must already exist in the "employee_id" column of the "Employees" table.

Foreign keys help maintain referential integrity, provide a way to establish relationships between tables, and enable querying data from multiple related tables using joins.

Note: It's important to define appropriate indexes on primary key and foreign key columns for better query performance, especially when joining tables based on these keys.

# Qo 06

### Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Certainly! To connect Python to MySQL, you can use the `mysql-connector-python` library, which provides the necessary functionality. Here's an example code snippet:

```python
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object to interact with the database
cursor = connection.cursor()

# Execute SQL queries using the cursor
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetch and print the result set
result = cursor.fetchall()
for row in result:
    print(row)

# Close the cursor and the connection
cursor.close()
connection.close()
```

Explanation of the `cursor()` and `execute()` methods:

1. `cursor()`: 
The `cursor()` method is used to create a cursor object that allows you to interact with the MySQL database. It establishes a channel for executing SQL queries and retrieving results.

2. `execute()`:
The `execute()` method is called on the cursor object to execute SQL queries or statements. It takes the SQL query as a parameter and performs the specified operation on the database.

In the example above, we first establish a connection to the MySQL database using the connection parameters. Then, we create a cursor object with `cursor = connection.cursor()`. The `execute()` method is used to execute an SQL query specified in the `query` variable.

After executing the query, we can retrieve the results using methods like `fetchall()` or `fetchone()`. In the code snippet, `result = cursor.fetchall()` retrieves all the rows returned by the query. We then iterate over the result set and print each row.

Finally, it's important to close the cursor and connection to release resources and ensure proper cleanup using `cursor.close()` and `connection.close()`.

Remember to replace `"your_username"`, `"your_password"`, `"your_database"`, and `"your_table"` with the appropriate values for your MySQL database configuration.

This code provides a basic example of connecting to MySQL using Python and executing a query. You can modify it as per your specific requirements and add error handling as necessary.

# Qo 07

### Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the order of execution of the clauses is as follows:

1. FROM: Specifies the table or tables from which data is retrieved.

2. JOIN: If multiple tables are involved, the JOIN clause is used to combine records from different tables based on specified conditions.

3. WHERE: Filters the rows based on specified conditions. Only the rows that meet the conditions in the WHERE clause are included in the result set.

4. GROUP BY: Groups the rows based on one or more columns. This is typically used in conjunction with aggregate functions such as COUNT, SUM, AVG, etc.

5. HAVING: Filters the grouped rows based on specified conditions. Only the groups that meet the conditions in the HAVING clause are included in the result set.

6. SELECT: Specifies the columns to be included in the result set. This is where you define the specific data you want to retrieve.

7. DISTINCT: Removes duplicate rows from the result set.

8. ORDER BY: Sorts the rows in the result set based on one or more columns, either in ascending or descending order.

9. LIMIT/OFFSET: Limits the number of rows returned or skips a certain number of rows. This is often used for pagination or retrieving a subset of results.

It's important to note that not all clauses are mandatory in every query. The clauses you include in your query depend on the specific requirements and the data you want to retrieve or manipulate.

The order of execution ensures that the query is executed logically and the desired results are obtained based on the specified conditions, grouping, sorting, and limits.