# Question 1

### For loop
We use for loop when we already know the number of iterations required for are problem 

Example : Write a loop to print the table of 13 
here we know the number of iterations will be 10 so we will use for loop
the code is below

In [3]:
#Loop for printing table of 13
for i in range(1,11):
    print(i*13)

13
26
39
52
65
78
91
104
117
130

### While Loops
we use while loops when we want to loop till a condition become false , here in most of the cases we don't know the no of iteration before 

Example: Write a loop to which first no s quare is greater than 13

In [5]:
cond = True
i = 0
while cond:
    rest = i**2
    if rest > 1000:
        cond = False
    i+=1
    
print(i)

33

# Question 2

In [16]:
## Using for loop
sum_=0
prod=1
for i in range(1,11):
    sum_+=i
    prod*=i
sum_,prod

(55, 3628800)

In [18]:
##Using while loop
i = 1
sum_ = 0
prod = 1
while i <11:
    sum_+=i
    prod*=i
    i+=1
sum_,prod

(55, 3628800)

# Questtion 3

In [19]:
units_consumed = int(input("Enter units consumed: "))

if units_consumed <= 100:
    bill_amount = units_consumed * 4.5
elif units_consumed <= 200:
    bill_amount = 100 * 4.5 + (units_consumed - 100) * 6
elif units_consumed <= 300:
    bill_amount = 100 * 4.5 + 100 * 6 + (units_consumed - 200) * 10
else:
    bill_amount = 100 * 4.5 + 100 * 6 + 100 * 10 + (units_consumed - 300) * 20

print("Electricity bill: Rs.", bill_amount)

Enter units consumed:  310

Electricity bill: Rs. 2250.0

# Question 4

In [20]:
numbers = list(range(1, 101))
cubes_divisible_by_4_or_5 = []

# Using for loop
for num in numbers:
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes_divisible_by_4_or_5.append(num)

print(cubes_divisible_by_4_or_5)

# Using while loop
num = 1
while num <= 100:
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes_divisible_by_4_or_5.append(num)
    num += 1

print(cubes_divisible_by_4_or_5)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]
[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100, 2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

# Question 5

In [21]:
string = "I want to become a data scientist"
vowels = 'aeiouAEIOU'
vowel_count = 0

for char in string:
    if char in vowels:
        vowel_count += 1

print("Number of vowels in the string:", vowel_count)

Number of vowels in the string: 12